body{
    background-color: limegreen; 
    font-family: 'Roboto' , monospace;
    background: #ee9ca7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

main {
    width: 60%;
    margin: auto; 
    text-align: center;
} 


section {
    margin-bottom: 6vh;
}


h1 {
    font-size: 1.5em;  
} 

input {
    display: block;
    margin: auto;
    width: 200px;
    height: 30px;
    border-radius: 4px;
} 

button {
    padding: 10px 20px; 
    border-radius: 3px;
    background-color: mediumblue; 
} 

button:hover {
    background-color: lightsalmon;
}

.green {
    color: green;
}

.red{
    color: red;
}